<h3>Post a Comment</h3>
<p>(Comment form will go here)</p>
<%= form_for [@article, @comment ] do |frm| %>
  <p>
    <%= frm.label :"Your Name" %><br/>
    <%= frm.text_field :author_name %>
  </p>
  <p>
    <%= frm.label :"Your Comment" %><br/>
    <%= frm.text_area :body %>
  </p>
  <p>
    <%= frm.submit 'Submit' %>
  </p>
<% end %>

